/* 공용 사용 css */
.inner {
	width: 1400px;
}

.w-800 {
	width: 800px;
}

/* ---------------- 자연 ---------------- */

/* 자동 완성 리스트 */
.searchList {
    position: relative;
    z-index: 1;
}

.searchList .autoComplete {
	background: white;
    position: absolute;
    top: 0; left: 0;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* 자동 완성 리스트 in 현재 선택된 검색어 */
.autoComplete > div.active {
	background: #e0e5f6;
	color: #000;
}

/* 자동 완성 리스트 in 현재 선택된 검색어 */
.autoComplete > div {
    padding: 5px 0 5px 15px;
}

.autoComplete > div:not(:last-child) {
	border-bottom: 1px solid #ededed;
}

/* 별점 --> score */
.starBox {
  display: flex;
 
}

.emptyStar {
  position: relative;
  color: #ddd;
  font-size: 25px;
  text-align: center;
}

.emptyStar input {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.fillStar {
  width: 0;
  color: #ffc107;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}

/* ---------------- 수현 ---------------- */

/* my page */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container {
	margin:0 auto;
}
.mp_h2 {
	text-align: center;
	padding:20px;
	background-color:#00D4EA;
}

.bodyContainer {
	display:flex;
	justify-content: center;
	margin-top:50px;
}


#profile {
	display:flex;
	flex-direction: column;
	margin-right:40px;
}
#profile #profileImg {
	width:100px;
	height:100px;
	border-radius: 50%;
}
#profile input {
	margin-top:20px;
	width:100px;
	height:40px;
}
#inputBox {
	width:400px;
	height:500px;
	margin-left:20px;
	  
}
#inputBox table input {
	width:200px;
	height:50px;
	margin-bottom :40px;
	
}

/* 회원가입 */
.body_container {
	width:1000px ;
	margin:0 auto ;
	
}

.signup_h1 {
	text-align:center;
	margin:30px 0;
	padding:20px;
	background-color:#00D4EA;
	font-size:30px;
}

.table_container {
	margin:auto;
	
}

.alertModal {
	position : absolute;
	top:50%;
	left:30%;
	
	width:200px;
	height:100px;
	
	
	
	background-color:white;
}

/*로그인*/
.logincontainer{
	width:600px;
}


/* ---------------- 형주 ---------------- */
/* ----- forewordviewer ----- */

