/* 공용 사용 css */
.inner {
	width: 1400px;
}

.d-none {
	display: none;
}

/* ---------------- 자연 ---------------- */

/* 자동 완성 리스트 */
.search-list {
    position: relative;
    z-index: 1;
}

.search-list .auto-complete {
	background: white;
    position: absolute;
    top: 0; left: 0;
    border: 1px solid #ced4da;
    border-radius: 0.4rem;
    width: 200%;
    font-size: 20px;
	line-height: 30px;
}

/* 자동 완성 리스트 in 현재 선택된 검색어 */
.auto-complete > li.active {
	background: #e0e5f6;
	color: #000;
}

/* 자동 완성 리스트 in 현재 선택된 검색어 */
.auto-complete > li {
    padding: 5px 0 5px 15px;
}

.auto-complete > li:not(:last-child) {
	border-bottom: 1px solid #ededed;
}

/* 별점 --> score */
.starBox {
  display: flex;
 
}

.emptyStar {
  position: relative;
  color: #ddd;
  font-size: 25px;
  text-align: center;
}

.emptyStar input {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.fillStar {
  width: 0;
  color: #ffc107;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}


/* ---------------- 수현 ---------------- */

/* my page */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container {
	margin:0 auto;
}
.mp_h2 {
	text-align: center;
	padding:20px;
	background-color:#00D4EA;
}

.bodyContainer {
	display:flex;
	justify-content: center;
	margin-top:50px;
}


#profile {
	display:flex;
	flex-direction: column;
	margin-right:40px;
}
#profile #profileImg {
	width:100px;
	height:100px;
	border-radius: 50%;
}
#profile input {
	margin-top:20px;
	width:100px;
	height:40px;
}
#inputBox {
	width:400px;
	height:500px;
	margin-left:20px;
	  
}
#inputBox table input {
	width:200px;
	height:50px;
	margin-bottom :40px;
	
}

/* 회원가입 */
.body_container {
	width:1000px ;
	margin:0 auto ;
	
}

.signup_h1 {
	text-align:center;
	margin:30px 0;
	padding:20px;
	background-color:#00D4EA;
	font-size:30px;
}

.table_container {
	margin:auto;
	
}

.alertModal {
	position : absolute;
	top:50%;
	left:30%;
	
	width:200px;
	height:100px;
	
	
	
	background-color:white;
}

/*로그인*/
.logincontainer{
	width:600px;
}




/* ---------------- 형주 ---------------- */
/* ----- forewordviewer ----- */













/* 현아 */
#wrap {
    width: 100%;
    position: relative;
    font-size: 16px;
	color: #373737;
}
.inner { margin: auto; padding: 100px 0; }
button {cursor: pointer;}
input {outline: none; text-indent: 15px;}
textarea {outline: none; }

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 스와이퍼 */
/* 전체 공통 */



#header {
	width: 100%;
	border-bottom: 1px solid #00D4EA;
	background: #FFF;
}
#header .h-banner {
	width:100%;
	text-align:center;
	background-color:#007cff;
	color:white;
}
#header .h-banner p {
	display: inline-block;
  	text-align: left; 
  	font-size:20px;
  	padding:10px;
/*   	text-shadow:2px 2px 2px #ccc; */
}
#header .h-banner p span {
  	font-size:23px;
	text-shadow:1px 1px 1px #000; 
}
#header .h-banner p small {
  font-size: 17px;
}
#header .h-banner a {
  	color: #fff;
  	font-size:20px;
  	font-weight: 700;
}
#header .h-banner a:hover {
	text-shadow:  2px 2px 1px #000;
	font-size:20px;
	font-weight: 700;
}
#header .inner {
	width: 1400px;
	height: 100px;
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
#header .gnb {
	width: 350px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .gnb li a {
	font-size: 25px;
    font-weight: 100;
    color: #818181;
    font-family: 'Pretendard-Thin';
    letter-spacing: -2px;
}
#header .gnb li a.on {
	color: #00D4EA;
}
#header .gnb li a:hover {
	color: #00D4EA;
}

#header .search form {
	width: 500px;
	display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header .search form input{
	width: 440px;
	height: 50px;
	font-size: 18px;
	border: 1px solid #00D4EA;
    background: #FFF;
    padding-left: 10px;
}

#header .search button {
	width: 50px;
	height: 50px;
	background: #FFF;
	border: 1px solid #00D4EA;
	border-left: none; 
	
}
#header .search button i {
	color: #00D4EA;
	font-size: 25px;
}
#header .search button:hover {
	background: #00D4EA;
}
#header .search button:hover i {
	color: #FFF;
}
#header .top-menu {
	width: 220px;
	display: flex;
    justify-content: space-between;
}
#header .top-menu li {
	width: 100px;
	height: 40px;
	background: #FFF;
	border-radius: 0.4rem;
	text-align: center;
	border: 1px solid #00D4EA;
}
#header .top-menu li:hover {
	background: #00D4EA;
}
#header .top-menu li:hover a {
	color: #FFF;
}
#header .top-menu li a {
	font-size: 20px;
	font-weight: 700;
	line-height: 40px;
	color: #00D4EA;
}

/* ********** 헤더 영역 ********** */



#footer {
	width: 100%;
    height: 200px;
	background: #00D4EA;
}
#footer p {
	color: #FFF;
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	line-height: 200px;
}
/* ********** 푸터 영역 ********** */



#visual .inner {
	padding-bottom: 0;
}
/* 비주얼 영역 */

#content .inner {
    width: 1400px;
    display: flex;
    justify-content: space-around;
}
#content .inner .foreword .board-title {
	background-image: url("../images/main-title-1.png");
}
#content .inner .afterword .board-title {
	background-image: url("../images/main-title-2.png");
}
#content .inner .board {
    width: 620px;
}

#content .inner .board .board-title {
	height: 120px;
    background-repeat: no-repeat;
    padding-top: 45px;
    padding-left: 10px;
    box-sizing: border-box;
    color: #FFF;
}
#content .inner .board .board-title h3 {
	width: 132px;
	font-size: 30px;
	font-weight: 700;
    text-indent: 20px;
	cursor: pointer;
}
#content .inner .board .board-title h3:hover {
    color: #FFF;
    text-shadow: 2px 1px 3px #00D4EA;
	/* text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF; */

}
#content .inner .board > ul li {
    font-size: 15px;
    border-bottom: 1px solid #7f9fc4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin: 20px 0;
}
#content .inner .board > ul li em {
    color: #989898;
}
#content .inner .board > ul li strong {
    display: block;
    color: #007CFF;
    font-weight: 700;
    font-size: 22px;
    margin: 10px 0;
    margin-top: 20px;
    white-space: nowrap;
  	overflow: hidden;
 	text-overflow: ellipsis;
 	width:400px;
 	
 	 
}
#content .inner .board > ul li p {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    
    white-space: nowrap;
  	overflow: hidden;
 	text-overflow: ellipsis;
 	width:450px;
  
}
#content .inner .board ul li .post-stats {
	color: #7f9fc4;
}
#content .inner .board ul li .post-stats ul {
	width: 60px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#content .inner .board ul li .post-stats ul li {
	margin: 0;
	padding: 0;
	border: none;
}
#content .inner .board ul li .post-stats ul li i {
	margin-right: 10px;
}
/* 메인 콘텐츠 영역 */

@media screen and (max-width: 1900px) {
  aside {
    display: none;
  }
}

aside .rank {
	width: 220px;
	position: fixed;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.7em;
    border: 1px solid #007CFF;
}
aside .review-ranking {
	left: 1.2%;
}
aside .score-ranking {
	right: 1.2%;
}
aside .rank li {
	width: 220px;
	padding: 15px 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #007CFF;
	display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #007CFF;
    font-weight: 700;
    margin: -1px;
}
aside .rank li strong {
	width: 140px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #373737;
}
aside .rank li:first-child {
	font-size: 22px;
	font-weight: 700;
	padding: 20px 20px;
    background: #007CFF;
    color: #FFF;
    border-radius: 0.5em 0.5em 0 0;
    justify-content: center;
    margin: -1px;
}
aside .rank li:last-child {
    border: none;
}
/* 어사이드 */
/* ********** 메인 영역 ********** */



.board-page .title {
    width: 1400px;
    height: 150px;
    padding-left: 50px;
}
.afterword-page .title {
	background-image: url("../images/sub-title-afterword.png");
}
.foreword-page .title {
	background-image: url("../images/sub-title-foreword.png");
}
.board-page .title h2 {
	font-size: 30px;
	font-weight: 700;
	padding-top: 40px;
	color: #FFF;
}
.board-page .title p {
	font-size: 20px;
	color: #FFF;
}
.board-page .top-menu {
	display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.board-page .top-menu button {
	width: 150px;
    height: 50px;
    background: #FFF;
    border-radius: 15px;
	border: 1px solid #007CFF;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    color: #007CFF;
}
.board-page .top-menu button:hover {
	background: #007CFF;
	color: #FFF;
}
.board-page .top-menu div {
	border-radius: 15px;
    border: 1px solid #007CFF;
    overflow: hidden;
}
.board-page .top-menu ul li {
    width: 150px;
    height: 50px;
    border-top: 1px solid #007CFF;
    text-align: center;
}
.board-page .top-menu ul li:hover {
	background: #007CFF;
}
.board-page .top-menu ul li:first-child {
    border: none;
}
.board-page .top-menu ul li a {
	font-size: 20px;
	line-height: 50px;
}

.board-page .top-menu .dropcontent {
	 display : none;
  	 position : absolute;
  	 z-index : 1; /*다른 요소들보다 앞에 배치*/
}

.board-page .top-menu .dropcontent li{
	display : block;
	text-decoration : none;
}

.board-page .top-menu .dropdown:hover .dropcontent {
	display: block;
}


/* top-menu */

.board-page .board-list {
	margin: 70px 0;
}
.board-page .board-list > li {
	width: 100%;
    border-bottom: 1px solid #007CFF;
    margin-bottom: 50px;
    padding: 30px 50px;
    padding-bottom: 60px;
}
.board-page .board-list > li div {
	font-size: 28px;
}
.board-page .board-list > li h3 {
	font-size: 35px;
	font-weight: 700;
	margin: 30px 0;
	color: #007CFF;
}
.board-page .board-list > li ul {
	width: 500px;
	display: flex;
	justify-content: space-between;
}
.board-page .board-list > li ul li {
	color: #999;
	font-size: 20px;
}
.board-page nav ul {
	display: flex;
	justify-content: center;
	margin: auto;
}
.board-page nav ul li {
	width: 50px;
	text-align: center;
}
.board-page nav ul li a {
	font-size: 20px;
	color: #5f5f5f;
}
.board-page nav ul li .active {
	font-size: 20px;
	color: #007CFF;
}
.board-page nav ul li .disable {
	color: gray;
}
.board-page nav ul li .usable {
	color: #00D4EA;
}
.board-page nav ul li:hover a {
	color: #007CFF;
}
/* ********** 게시판 ********** */

.map-page .title {
    width: 1400px;
    height: 150px;
    padding-left: 50px;
    background-image: url("../images/sub-title-map.png");
}
.map-page .title h2 {
	font-size: 30px;
	font-weight: 700;
	padding-top: 40px;
	color: #FFF;
}
.map-page .title p {
	font-size: 20px;
	color: #FFF;
}
.map-page .search-of-map #static-map {
	height: 400px;
    margin-top: 50px;
    border: 1px solid #007CFF;
}
.map-page .search-of-map form {
    width: 600px;
    height: 50px;
    border-radius: 15px 0 0 15px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    font-size: 18px;
}
.map-page .search-of-map form #searchValue {
    width: 600px;
    height: 50px;
    border-radius: 15px 0 0 15px;
    border: 1px solid #007CFF;
    border-right: none;
    font-size: 18px;
    padding-left: 10px;
}
.map-page .search-of-map form .search-btn {
    width: 100px;
    height: 50px;
    padding-right: 10px;
    border-radius: 0 15px 15px 0;
    border: 1px solid #007CFF;
    color: #007CFF;
    font-size: 18px;
}
.map-page .search-of-map form .search-btn:hover {
    color: #fff;
    background-color: #007CFF;
}
.map-page .not-found {
	margin: auto;
	text-align: center;
	margin: 100px;
	font-size: 20px;
}
.map-page .academy-found div {
	margin: auto;
	margin-top: 70px;
	width: 800px;
}
.map-page .academy-found div h4 {
	font-size: 32px;
	font-weight: 700;
	border-bottom: 1px solid #007CFF;
	color: #007CFF;
}
.map-page .academy-found div p {
	font-size: 23px;
	font-weight: 400;
	margin: 10px 0;
}
.map-page nav ul {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 100px;
}
.map-page nav ul li {
	width: 50px;
	text-align: center;
}
.map-page nav ul li a {
	font-size: 20px;
	color: #5f5f5f;
}
.map-page nav ul li .active {
	font-size: 20px;
	color: #007CFF;
}
.map-page nav ul li:hover a {
	color: #007CFF;
}

/* ********** 학원 찾기 ********** */
.write-page form {
    width: 900px;
    margin: auto;
    margin-top: 100px;
}
.write-page form .box {
	height: 50px;
}
.write-page form .first-line, 
.write-page form .second-line,
.write-page form .third-line {
	display: flex;
	width: 900px;
	margin-bottom: 30px;
}
.write-page form .first-line div {
	width: 50%;
	margin-right: 10px;
}
.write-page form .first-line select {
	margin-left: 10px;
	width: 50%;
	height: 50px;
	padding: 0 10px;
	color: #333;
}
.write-page form .first-line div #academy-name {
	width: 100%;
	height: 50px;
}
.write-page form .second-line .input-title,
.write-page form .third-line .input-contents {
	width: 100%;
}
.write-page input,
.write-page select,
.write-page textarea {
	font-size: 20px;
	line-height: 30px;
	border-radius: 0.4rem;
}
.write-page textarea {
	padding: 15px;
	resize: none;
}
.write-page .btn-group {
	margin: auto;
	text-align: center;
}
.write-page .btn-group button {
	width: 100px;
	margin: 0 10px;
	font-size: 20px;
	border-radius: 0.4rem;
}
.write-page .btn-group button:last-child {
    border: 1px solid #007CFF;
    color: #007CFF;
}
.write-page .btn-group button:first-child {
    border: 1px solid red;
    color: red;
}
.write-page .btn-group button:first-child:hover {
    border: 1px solid red;
    background-color: red;
    color: #fff;
}
.write-page .btn-group button:hover {
    border: 1px solid #007CFF;
    background-color: #007CFF;
    color: #fff;
}
/* ********** 글 쓰기 ********** */
.login-page .inner {
	margin: auto;
}
.login-page .title {
    width: 1400px;
    height: 150px;
    padding-left: 50px;
	background-image: url("../images/sub-title-login.png");
}
.login-page .title h2 {
	font-size: 30px;
	font-weight: 700;
	padding-top: 60px;
	color: #FFF;
}
.login-page .login-bg {
	width: 1400px;
	height: 1633px;
	background-image: url("../images/login-bg.png");
	background-repeat: no-repeat;
	background-size : contain;
	position: relative;
	margin-top: 50px;
	border-radius: 1rem;
}
.login-page form {
	height: 400px;
	width: 1000px;
	padding: 0 100px;
/* 	background-color: #fff; */
	background-color:rgba(255, 209, 76, 1);
	border: 3px solid black;
	border-radius: 1rem;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 8%;
	left: 50%;
    transform: translate(-50%, 0);
}
.login-page form div {
	width: 500px;
}
.login-page form p label {
	margin: 20px 0 -2px 0;
	font-size: 20px;
	display: block;
	color: #007cff;
}
.login-page form p input {
	height: 50px;
	width: 450px;
	font-size: 20px;
	border: 1px solid #007cff;
}
.login-page form button {
	width: 250px;
	height: 150px;
	margin-top: 49px;
	font-size: 20px;
	background-color: #fff;
	border-radius: 0.4rem;
	border: 1px solid #007CFF;
	color: #007CFF;
}
.login-page form button:hover {
	background-color: #007CFF;
	color: #ffd14c;
}
/* ********** 로그인 페이지 ********** */
.sign-up-page .inner {
	margin: auto;
}
.sign-up-page .title {
    width: 1400px;
    height: 150px;
    padding-left: 50px;
	background-image: url("../images/sub-title-signup.png");
}
.sign-up-page .title h2 {
	font-size: 30px;
	font-weight: 700;
	padding-top: 60px;
	color: #FFF;
}
.sign-up-page form {
	width: 950px;
	height: 900px;
	margin: auto;
	margin-top: 100px;
}
.sign-up-page form div {
	height: 180px;
	font-size: 18px;
	border-top: 1px solid #818181;
	padding-top: 40px;
}
.sign-up-page form div:first-child {
	border-top: none;
}
.sign-up-page form div:last-child {	/* 버튼 그룹 */
	margin: auto;
	text-align: center;
	padding-top: 60px;
}
.sign-up-page form div label {
	display: inline-block;
	width: 180px;
	font-weight: bold;
	border-right: 1px solid #007cff;
}
.sign-up-page form div p {
	margin: 10px 0 0 205px; 
	display: flex;
}
.sign-up-page form div p .ok {
	color: #1fc05c;
	font-size: 20px;
	margin: -1px 10px 0 0;
	align-self: center;
}
.sign-up-page form div p .no {
	color: #e60005;
	font-size: 20px;
	margin: -1px 10px 0 0;
	align-self: center;
}
.sign-up-page form div input {
	height: 50px;
	width: 450px;
	font-size: 20px;
	margin-left: 20px;
	border: 1px solid #007cff;
}
.sign-up-page form div button {
	font-size: 18px;
	width: 120px;
	height: 50px;
	border-radius: 0.4rem;
	border: 1px solid #007cff;
	margin-left: 20px;
	color: #007cff;
}
.sign-up-page form div button:hover {
	color: #fff;
	background-color: #007CFF;
}
.sign-up-page form div:last-child button {	/* 버튼 그룹의 버트  */
	margin: 0 10px;
}
/* ********** 회원가입 페이지 ********** */
